$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;

@mixin flexcenter($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  font-family: $font-stack;
}
nav {
  width: 100%;
  height: 70px;
  .nav-container {
    @include flexcenter(row, space-between, center);
    width: 95%;
    margin: 0 auto;
    p {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 3.9rem;
      color: $primary-text-color;
    }
    .icons {
      @include flexcenter(row, center, center);
      gap: 18px;
      height: auto;
      img {
        width: 28px;
        height: 28px;
        cursor: pointer;
      }
    }
  }
}
article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  min-width: 320px;
  margin: 50px auto 0;
  color: $primary-text-color;
  .impact-section {
    @include flexcenter(column, center, flex-start);
    width: 50%;
    h1 {
      text-align: start;
      font-size: 3.5rem;
      font-weight: bold;
      line-height: 2.8rem;
    }
    p {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2rem;
    }
    button {
      margin-top: 22px;
      width: 180px;
      height: 45px;
      color: #fff;
      font-size: 1.5rem;
      background-color: #fa9500;
      border: none;
      border-radius: 35px;
    }
  }
  .image-section {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    min-width: 320px;
    img {
      width: 320px;
      min-width: 250px;
      height: 380px;
      border-radius: 20px;
      object-fit: cover;
    }
  }
}
section {
  width: auto;
  height: auto;
  padding: 60px;
  h2 {
    color: $primary-text-color;
    font-size: 2.2rem;
    padding-bottom: 60px;
  }
  .healthcare {
    padding-bottom: 60px;
    h2 {
      font-weight: 300;
    }
    .card-section {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 200px;
      row-gap: 80px;
      width: auto;
      height: auto;
    }
    .product-card {
      padding: 20px;
      width: 15vw;
      height: 45vh;
      color: $primary-text-color;
      background-color: $secondary-color;
      border-radius: 12px;
      .icon-heart {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 12px;
        img {
          width: 28px;
          height: 28px;
        }
      }
      .product-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        img {
          width: 12vw;
          height: 30vh;
          border-radius: 6px;
          object-fit: cover;
        }
      }
      h3 {
        margin: 18px 0 0;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.8rem;
      }
      p {
        margin: 6px 0 0;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.8rem;
      }
    }
  }
  .furniture {
    @extend .healthcare;
    .product-card {
      background-color: $tertiary-color;
      color: white;
    }
  }
}
.about-us {
  padding-bottom: 60px;
  h2 {
    font-size: 2.2rem;
    font-weight: bold;
    padding-bottom: 60px;
  }
  .mission-section {
    @include flexcenter(row, space-evenly, center);
    .earth {
      color: #e86424;
      display: flex;
      gap: 40px;
      width: 30vw;
      img {
        object-fit: contain;
      }
      p {
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
  .innovation {
    @extend .earth;
  }
}
.gallery {
  padding-bottom: 60px;
  h2 {
    font-size: 2.2rem;
    font-weight: bold;
    padding-bottom: 60px;
  }
  .gallery-image {
    @include flexcenter(row, space-between, center);
    img {
      width: 28vw;
      height: 45vh;
      object-fit: cover;
      object-position: 5px 35%;
      border-radius: 16px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.location {
  color: #e86424;
  h2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .map {
    @include flexcenter(row, center, center);
    padding-bottom: 50px;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
}
footer {
  padding: 40px;
  width: 100%;
  height: auto;
  background-color: #fa9500;
  color: white;
  .social-media {
    @include flexcenter(row, center, center);
  }
}
