$primary-color: #FFEFE7;
$secondary-color:#FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$font-stack: "IBM Plex Sans", sans-serif;
body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: $primary-color;
    height: 100%;
    height: 100px;
}